@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --bs-focus-ring-color: rgba(var(--bs-danger-rgb), var(--bs-focus-ring-opacity));
    --bs-pagination-focus-color: rgba(var(--bs-danger-rgb), var(--bs-focus-ring-opacity));
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.form-control:focus {
    border-color: rgba(var(--bs-danger-rgb), 0.4);
    box-shadow: 0 0 0 0.1rem rgba(var(--bs-danger-rgb), var(--bs-focus-ring-opacity));
}
 
.top-gray {
    border-top: 1px solid #ddd;
}

.bottom-gray {
    border-bottom: 1px solid #ddd;
}

.bottom-arrow-gray {
    /*border-bottom: 1px solid #ddd;*/
    position: relative;
}

.bottom-arrow-gray:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 0.75rem solid #dc3545;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
}

